<div id="review">
	<h2><%= @review.title %></h2>
	<%= simple_format(@review.experience) %>
</div>

<%= link_to "Edit Review", edit_product_review_path(@product, @review) %>
<%= link_to "Delete Review", [@product, @review], method: :delete, 
			data: { confirm: "Are you sure you want to take down this review?"} %>